.name{
    float: left;
    border-style:solid;
    width: 20%;
    height: 355px;
    
}
.info{
    border-style:solid;
    width: 100%;
    height: 355px;
    margin: left;
}
.PrevEx{
    border-style:solid;
    height: 355px;
    width: 100%;
}
.qualif{
    border-style:solid;
    width: 100%;
    height: 355px;
}